<main role="main" class="container">
  {{#if appIsReady}}
    <div class="page-header">
      <h1>Example page header <small>Subtext for header</small></h1>
    </div>

    {{yield}}
  {{else}}
    {{#unless globalPathIsSetup}}
      {{application-route/setup-global-path}}
    {{/unless}}

    {{#if showPasswordSetup}}
      {{application-route/setup-password}}
    {{/if}}
  {{/if}}
</main>


