<main role="main" class="container">
  {{#unless globalPathIsSetup}}
    {{application-route/setup-global-path}}
  {{/unless}}

  {{#if showPasswordSetup}}
    {{application-route/setup-password}}
  {{/if}}

  {{#if appIsReady}}
    <h1>App ready</h1>

    {{yield}}
  {{/if}}
</main>


